
<app-title></app-title>

<div class="container__articles">
    <div class="main__article">
        <app-big-card 
        Id="1"
        photoCover = "https://i.pinimg.com/564x/bb/95/81/bb9581953b71ef046b994b1023416fa9.jpg" 
        cardTitle="Roterizando"
        cardDescription="Guia para criar o roteiro de viagem perfeito!"
        ></app-big-card>
    </div>
    <div class="others__article">
        <app-small-card 
        Id="2"
        photoCover="https://i.pinimg.com/564x/f8/9c/6c/f89c6cd23b7b2944c725004f27ec8ae7.jpg"
        cardTitle="Praia: como protejer a pele sem perder a diversão"
        ></app-small-card>
        <app-small-card 
        Id="3"
        photoCover="https://i.pinimg.com/564x/53/84/df/5384df21096d6987e482c9d1cfb59927.jpg"
        cardTitle="3 drinks refrescantes para testar nas férias"
        ></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://i.pinimg.com/564x/9d/c2/14/9dc214f9745b47bf0a446ed018356fb7.jpg"
        cardTitle="Como escolher a melhor hospedagem ao viajar"
        ></app-small-card>
        <app-small-card
        Id="5"
        photoCover="https://i.pinimg.com/564x/3c/44/44/3c444487d311fcfeb6e63e0e8ec65991.jpg"
        cardTitle="Piquenique no parque! Prepare seu lanchinho"
        ></app-small-card>
    </div>
</div>